.bikes {
    /* overflow-x: scroll; */
    width: 94.71%;
    background-color: rgb(164, 177, 208);
    padding: 10px 40px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.bikes .details {
    background-color: rgb(129, 156, 220);
    margin: 10px 0px;
    padding: 20px;
    transition: 1s;
    border: 1px solid rgb(51, 70, 114);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 10px black;
}

.bikes .details:hover {
    border: 1px solid rgb(27, 77, 197);
    border-radius: 10px;
    background-color: rgb(51, 70, 114);
    transition: 1s;
}

.bikes .details img {
    border-radius: 10%
}

