.book .booking {
    background-color: rgb(203, 196, 196);
    padding: 50px 150px;
    display: flex;
    justify-content: space-evenly;
}

.book .booking .details {
    /* background-color: red; */
    padding: 20px 30px;
    height: 300px;
    width: 300px;
    margin-top: 50px;
}

.book .booking .details h3 {
    padding: 5px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}