* {
    margin: 0;
    padding: 0;
}
.body{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgb(66, 63, 63);
}

.main {
    border: 5px solid black;
    border-radius: 10%;
    background-color: rgb(209, 16, 16);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    margin: 200px 480px;
    padding: 10px 30px;
    aspect-ratio: 3/2;
    mix-blend-mode: color-dodge;
}

.main .sub1 img {
    width: 150px;
    height: 150px;
    /* aspect: ratio 1px / 1px;; */
    object-fit: contain;
    mix-blend-mode: color-burn;
    transition: 1s;
}

.main .sub1 img:hover{
    transform: scale(1.2);
    transition: 2s;
}

.main .sub1 h1 {
    transform: translateX(-20px) translateY(-20px);
    color: black;
}
.main .sub2 img {
    width: 150px;
    height: 150px;
    /* aspect: ratio 1px / 1px;; */
    object-fit: contain;
    mix-blend-mode: color-burn;
    transition: 1s;
}
.main .sub2 img:hover{
    transform: scale(1.2);
    transition: 2s;
}

.main .sub2 h1 {
    transform: translateX(-20px) translateY(-20px);
    color: black;
}

.main a {
    text-decoration: none;
    mix-blend-mode: color-burn;
}

.main a::before {
    text-decoration: none;
}